{{#each erros}}
      <div class="alert alert-danger" role="alert">{{texto}}</div>
{{else}}

{{/each}}

<form action="/rota1/addcategoria/nova" method="POST">
  <div class="mb-3">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
 <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Example label</label>
  <input type="text" class="form-control" value="{{categoria.opção1}}" name="opção1" id="opção1" placeholder="Example input placeholder">
</div>
 <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Example label</label>
  <input type="text" class="form-control" value="{{categoria.opção2}}" name="opção2" id="opção2" placeholder="Objetivos ">
</div>
  <div class="mb-3">
    <label for="texto">Example textarea</label>
    <textarea name="texto" class="form-control"  id="texto" rows="3"></textarea>
  </div>
  <button class="btn btn-success"> Adicionar </button> 
</form>