#breno{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    background-color: aquamarine;
}

.breno{
    display: grid;
    background-color: aquamarine;
    grid-template-rows: 40px 40px;
    grid-template-columns: 90px 90px 90px;
    
}

.breno a {
    text-decoration: none;
    font-size: medium;
}


